---
layout: default
title : Reprises alternativas da nossa série favorita 
---

{% for post in site.posts limit:1 %}
	{% assign author = site.authors[post.author] %}
	<article class="hentry feature">
		<a title="{{ post.title }}" href="{{ post.url }}" class="post-link">
			<header class="post-info">
				{% if post.image %}
					<figure class="post-image">
						<img src="{{ post.image }}" alt="{{ post.title }}" />
					</figure>
				{% endif %}
      	  	    <p class="post-number">{{ post.number }}</p>
      	  	    <h2 class="post-title">{{ post.title }}</h2>
      	  	    {% if author %}
      	  	    	<div class="byline vcard">
      	  	    	    por <span class="fn">{{ author.display_name }}</span>
      	  	    	</div>
      	  	  	{% endif %}
      	  	</header>
		</a>
	</article>
{% endfor %}

{% for post in site.posts offset:1 %}
	{% assign author = site.authors[post.author] %}
	<article class="hentry index">
		<a title="{{ post.title }}" href="{{ post.url }}" class="post-link">
			<header class="post-info">
      	  	    <p class="post-number">{{ post.number }}</p>
      	  	    <h2 class="post-title">{{ post.title }}</h2>
      	  	    {% if author %}
      	  	    	<div class="byline vcard">
      	  	    	    por <span class="fn">{{ author.display_name }}</span>
      	  	    	</div>
      	  	  	{% endif %}
      	  	</header>
		</a>
	</article>
{% endfor %}

<script>
    var disqus_shortname = 'movimentoseinfeld';

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>