::-moz-selection{
	background: #fe6;
	color: #000;
	text-shadow: none;
}

::selection {
	background: #fe6;
	color: #000;
	text-shadow: none;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	background: #e7e7de url(bg.jpg);
	color: #303639;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    margin: 0;
}

header,
.content,
footer {
	margin: 0 auto;
	width: 620px;
}

a {
	text-decoration: none;
}
a:link {
	color: #111;
}
a:visited {
	color: #111;
}
a:hover,
a:focus {
	color: #111;
}
a:active {}

header {
	text-align: center;
}

.site-title {
	font-size: 36px;
	font-style: italic;
	line-height: 1;
	margin: 66px 0;
	text-transform: lowercase;
}

.site-title a {
	color: #DA382B;
}

footer {
	font-size: 12px;
	text-align: center;
	padding: 36px;
}

.about {
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,.8);
}

.hentry {
	background: #fff;
	background: rgba(255,255,255,.4);
	-webkit-border-radius: 2px;
   	-moz-border-radius: 2px;
   	border-radius: 2px;
	margin: 36px 0;
	position: relative;
}

.hentry.index:hover {
	background: #fff;
	-o-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.hentry:last-child {
	margin: 0;
}

.post-link {
	display: block;
	padding: 36px;
}

.post-info {
	text-align: center;
}

.post-number {
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0;
}
.post-number:before,
.post-number:after {
	content: "–"
}

.post-title {
	color: #252925;
	font-size: 36px;
	margin: 9px 0;
}

.post-author {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.post-author a {
	border-bottom: 1px dotted #111;
}

.post-author-prep {
	font-style: italic;
}

.feature {
	background: #fff;
	-webkit-border-radius: 2px 0 2px 2px;
   	-moz-border-radius: 2px 0 2px 2px;
   	border-radius: 2px 0 2px 2px;
	overflow: hidden;
}

.feature:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 8px;
	border-style: solid;
	border-color: #e7e7de #e7e7de transparent transparent;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius: 0 0 0 2px;
	border-radius: 0 0 0 2px;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	display: block; width: 0; 
}

.single .post-info {
	margin-bottom: 48px;
}

.single.hentry {
	background: #fff;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	padding: 36px;
}

.post-content {
	font-size: 16px;
	line-height: 28px;
	text-shadow: 1px 1px 1px rgba(255,255,255,.8);
}

.post-content p {
	margin-bottom: 1.5em;
}

.post-content blockquote {
	font-size: 18px;
	font-style: italic;
}