article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

html {
    background: #ededed;
    overflow-y: scroll;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

body {
    background: transparent;
    color: #44413c;
    font: 400 100%/1.5 Vollkorn, serif;
    margin: 0 auto;
}

::-moz-selection {
    background: #fe6;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #fe6;
    color: #000;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 0;
    word-wrap: break-word;
}

/* Links */

a,
a:visited {
    color: #292724;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    border: 0;
    color: #0e0d0c;
    -webkit-transition: color .1s ease-out;
            transition: color .1s ease-out;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

blockquote p {
    margin: 0;
}

.container {
    background-color: #f5f2ed;
    box-shadow: 0 8px 0 rgba(41,39,36,.2);
    overflow: hidden;
    padding-bottom: 3rem;
    position: relative;
    z-index: 3;
}

@media screen and (min-width: 40em) {
    .container {
        margin-bottom: 12rem;
    }
}

.content {
    margin: 0 auto;
    max-width: 42em;
}

/* Header */

.site-header {
    background-color: #fff;
    border-top: 8px solid #da382b;
    border-bottom: 1px solid rgba(41,39,36,.1);
    margin-bottom: 3rem;
    padding: 3rem;
}

.site-title {
    font-size: 2.25rem;
    line-height: 1.33;
    margin: 0 auto;
    max-width: 42rem;
    text-align: center;
    text-transform: lowercase;
}

.site-title a {
    background-repeat: no-repeat;
    background-position: center top;
    color: #da382b;
    display: block;
    padding-top: 12rem;
}

/* Footer */

.site-footer {
    background-color: #da382b;
    color: #f5f2ed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    -ms-flex-pack: justify;
    padding: 3rem;

    -webkit-box-pack: justify;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-between;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (min-width: 40em) {
    .site-footer {
        bottom: 0;
        height: 12rem;
        left: 0;
        position: fixed;
        right: 0;
        z-index: -1;
    }
}

.site-footer a {
    color: inherit;
}

.colophon {
    margin-bottom: 1.5rem;

    -webkit-box-flex: 0;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
}

.colophon a {
    border-bottom: 1px dotted;
}

.about {
    margin-bottom: 1.5rem;
}

.license {
    font-size: .88rem;
    line-height: 1.71;
}

.contact {
    list-style-type: none;
    margin: 0;
    text-align: right;

    -webkit-box-flex: 0;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.contact li {
    display: inline-block;
    padding: .5em;
}

.hentry {
    position: relative;
}

.post-image {
    background-position: center;
    height: 12rem;
    margin: 0 -5% 1.5rem -5%;
    overflow: hidden;
    position: relative;
    width: 110%;
}

.hentry__number {
    color: #948e85;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .06em;
    margin: 0;
}

.hentry__title {
    font-size: 2.25rem;
    line-height: 1.33;
}

.post-description {
    color: #68635c;
    font-style: italic;
    margin: 1.5rem 0;
}

.byline {
    color: #948e85;
    font-weight: normal;
}

.byline a {
    color: inherit;
}

.byline a:hover {
    color: #2b2b2b;
}

a.url .fa {
    color: #da382b;
}

a.twitter .fa {
    color: #55acee;
}

a.linkedin .fa {
    color: #0976b4;
}

/* Single */

.single .post-info {
    margin-bottom: 3rem;
}

.post-content {
    font-size: 1.313rem;
    line-height: 1.619;
}

.post-content p {
    margin-bottom: 1.5em;
}

.post-content a {
    box-shadow: inset 0 -4px 0 rgba(218,56,43,.6);
    color: inherit;
}

.post-content blockquote:first-child {
    color: #da382b;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-weight: 700;
}

@media screen and (min-width: 40em) {
    .post-content blockquote:first-child {
        float: right;
        margin: 0 -7em 0 1.5rem;
        width: 15em;
    }
}

.post-date {
    color: #948e85;
    font-size: .88rem;
    line-height: 1.71;
}

.navigation .hentry:hover {
    background: #fff;
    -webkit-transition: background .1s ease-out;
            transition: background .1s ease-out;
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-between;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
            justify-content: space-between;
}

.hentry--grid {
    background-color: #fff;
    border: 1px solid rgba(41,39,36,.1);
    height: 12rem;
    margin: 2% 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48%;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
}

.hentry--grid a {
    display: block;
    height: 100%;
    width: 100%;
}

.hentry--grid .hentry--summary {
    padding: 1.5rem;
    position: relative;
    -webkit-transition: -webkit-transform .4s;
            transition:         transform .4s;
}

.hentry--grid .hentry--image {
    background-position: center center;
    bottom: 0;
    height: 7.5rem;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    top: auto;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform .4s, opacity .1s .3s;
            transition:         transform .4s, opacity .1s .3s;
    width: 100%;
}

.no-touch .hentry--grid:hover .hentry--summary {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
}

.no-touch .hentry--grid:hover .hentry--image {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .4s, opacity .1s;
            transition:         transform .4s, opacity .1s;
}

@media screen and (min-width: 40em) {
    .hentry--previous {
        right: 1.5rem;
    }

    .hentry--next {
        left: 1.5rem;
    }
}

.comments {
    margin: 3rem 0;
}

/* For the Characters */

.jerry .site-title a {
    background-image: url(../images/jerry.png);
}

.elaine .site-title a {
    background-image: url(../images/elaine.png);
}

.george .site-title a {
    background-image: url(../images/george.png);
}

.cosmo .site-title a {
    background-image: url(../images/cosmo.png);
}
