article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: #ededed;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
	background: transparent;
	color: #555;
	font: 100%/1 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    margin: 0 auto;
    max-width: 38rem;
    width: 90%;
}

::-moz-selection{
	background: #fe6;
	color: #000;
	text-shadow: none;
}

::selection {
	background: #fe6;
	color: #000;
	text-shadow: none;
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700; 
    word-wrap: break-word;
}

/* Links */

a, 
a:visited { 
    color: #111; 
    text-decoration: none;
}

a:hover, 
a:focus, 
a:active { 
    border: 0; 
    color: #111;
    -webkit-transition: color .1s ease-out;
    -moz-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    transition: color .1s ease-out;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Header */

.site-header {
	padding: 48px 0;
	padding: 3rem 0;
	text-align: center;
}

.site-title {
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 1.33;
	margin: 0;
	text-transform: lowercase;
}

.site-title a {
	color: #DA382B;
}

/* Footer */

.site-footer {
	font-size: 14px;
	font-size: .88rem;
	line-height: 1.71;
	padding: 48px 0;
	padding: 3rem 0;
	text-align: center;
}

.site-footer a {
	border-bottom: 1px dotted #333;
}

.about {
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,.8);
}

.hentry {
	background: #fff;
	background: rgba(255,255,255,.4);
	border: 1px solid #d4d4d4;
   	border-radius: 2px;
   	margin-bottom: 24px;
   	margin-bottom: 1.5rem;
	position: relative;
}

.hentry:last-child {
	margin-bottom: 0;
}

.hentry.index:hover {
	background: #fff;
	-o-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.post-link {
	display: block;
	padding: 24px;
	padding: 1.5rem;
}

.post-info {
	text-align: center;
}

.post-image {
	border-radius: 50%;
	height: 192px;
	margin: 0 auto 24px auto;
	margin: 0 auto 1.5rem auto;
	overflow: hidden;
	width: 192px;
}

.post-image img {
	display: block;
}

.post-number {
	color: #999;
	font-weight: normal;
	letter-spacing: .06em;
	line-height: 1.5;
	margin: 0;
}

.post-number:before,
.post-number:after {
	content: "–"
}

.post-title {
	color: #555555;
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 1.33;
}

.byline {
	color: #999;
	font-size: 16px;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
}

.byline a {
	color: #999;
	border-bottom: 1px dotted #666;
}

.byline a:hover {
	color: #2b2b2b;
}

.feature {
	background: #fff;
}

.feature .post-title {
	color: #2b2b2b;
}

/* Single */

.single .post-info {
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

.single.hentry {
	background: #fff;
	padding: 24px;
	padding: 1.5rem;
}

.post-content {
	line-height: 1.5;
}

.post-content p {
	margin-bottom: 1.5em;
}

.post-content blockquote {
	font-style: italic;
	margin: 0;
}