---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<article class="hentry  single">
    <header class="post-info">
        {% if page.image %}
            <figure class="post-image" style="background-image: url({{ page.image }})">
                <!-- {{ page.image }} -->
            </figure>
        {% endif %}

        <p class="post-number">{{ page.number }}</p>

        <h2 class="post-title"><a href="{{ page.url }}" title="Compartilhar {{ page.title }}">{{ page.title }}</a></h2>

        {% if page.description %}
            <div class="post-description">
                {{ page.description }}
            </div>
        {% endif %}

        <p class="byline  vcard">
            por <span class="fn">{{ author.name }}</span>
            {% if author.web %}<a href="{{ author.web }}" title="Ver site de {{ author.name }}" class="url"><i class="fa fa-bookmark"></i></a>{% endif %}
            {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}" title="{{ author.name }} no Twitter" class="url  twitter"><i class="fa fa-twitter"></i></a>{% endif %}
            {% if author.linkedin %}<a href="{{ author.linkedin }}" title="{{ author.name }} no LinkedIn" class="url  linkedin"><i class="fa fa-linkedin"></i></a>{% endif %}
        </p>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <div class="post-date"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%d/%m/%Y" }}</div>
</article>

{% if site.disqus %}
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">

        var disqus_shortname = '{{ site.disqus }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}

<nav class="navigation post--navigation  cf">
    {% if page.next.url %}
        {% assign author = site.data.authors[page.next.author] %}
        <article class="hentry hentry--next">
            <a title="Próximo episódio: {{page.next.title}}" href="{{page.next.url}}" class="post-link">
                <header class="post-info">
                    <p class="post-number">Próximo episódio</p>
                    <h2 class="post-title">{{page.next.title}}</h2>
                    {% if author %}
                        <div class="byline vcard">
                            por <span class="fn">{{ author.name }}</span>
                        </div>
                    {% endif %}
                </header>
            </a>
        </article>
    {% endif %}

    {% if page.previous.url %}
        {% assign author = site.data.authors[page.previous.author] %}
        <article class="hentry hentry--previous">
            <a title="Episódio anterior: {{page.previous.title}}" href="{{page.previous.url}}" class="post-link">
                <header class="post-info">
                    <p class="post-number">Episódio anterior</p>
                    <h2 class="post-title">{{page.previous.title}}</h2>
                    {% if author %}
                        <div class="byline vcard">
                            por <span class="fn">{{ author.name }}</span>
                        </div>
                    {% endif %}
                </header>
            </a>
        </article>
    {% endif %}
</nav>
