---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<article class="hentry  single">
    <header class="post-info">
        {% if page.image %}
            <figure class="post-image">
                <img src="{{ page.image }}" alt="{{ page.title }}" />
            </figure>
        {% endif %}

        <p class="post-number">{{ page.number }}</p>

        <h2 class="post-title"><a href="{{ page.url }}" title="Compartilhar {{ page.title }}">{{ page.title }}</a></h2>

        {% if page.description %}
            <div class="post-description">
                {{ page.description }}
            </div>
        {% endif %}

        <p class="byline  vcard">
            por
            {% if author.web %}
                <a href="{{ author.web }}" title="Ver site de {{ author.name }}" class="url fn">{{ author.name }}</a>
            {% else %}
                <span class="fn">{{ author.name }}</span>
            {% endif %}
        </p>
    </header>

    <div class="post-content">
        {{ content }}
    </div>
</article>

<div id="disqus_thread"></div>
<script>
    var disqus_shortname = 'movimentoseinfeld';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<nav class="navigation post--navigation">
    {% if page.previous.url %}
        {% assign author = site.data.authors[page.previous.author] %}
        <article class="hentry hentry--previous">
            <a title="Episódio anterior: {{page.previous.title}}" href="{{page.previous.url}}" class="post-link">
                <header class="post-info">
                    <p class="post-number">Episódio anterior</p>
                    <h2 class="post-title">{{page.previous.title}}</h2>
                    {% if author %}
                        <div class="byline vcard">
                            por <span class="fn">{{ author.name }}</span>
                        </div>
                    {% endif %}
                </header>
            </a>
        </article>
    {% endif %}

    {% if page.next.url %}
        {% assign author = site.data.authors[page.next.author] %}
        <article class="hentry hentry--next">
            <a title="Próximo episódio: {{page.next.title}}" href="{{page.next.url}}" class="post-link">
                <header class="post-info">
                    <p class="post-number">Próximo episódio</p>
                    <h2 class="post-title">{{page.next.title}}</h2>
                    {% if author %}
                        <div class="byline vcard">
                            por <span class="fn">{{ author.name }}</span>
                        </div>
                    {% endif %}
                </header>
            </a>
        </article>
    {% endif %}
</nav>
